
.container {

    min-height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 20px;



}


.ideaContainer {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}


.rowContainer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #282A37;
    width: 60px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #787878;


}

.codeContainer {
    background-color: var(--gray);
    width: 500px;
}

.tabContainer {


    height: 30px;
    background-color: var(--lightGray);
    display: flex;


}

.tab {
    width: 100px;
    color: white;
    padding-top: 5px;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 12px;

}

.tabActive {
    font-size: 12px;
    background-color: var(--hoverGray);
    border-bottom: 3px solid #FE98E8;
    width: 100px;
    color: white;
    padding-top: 5px;
    cursor: pointer;
    padding-bottom: 5px;


}

.code {
    color: white;
    padding-left: 10px;
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
    margin-top: 20px;




}

.yellow {
    color: #fcf576;
}

.green {
    color: #a9fc7a;
}

.pink {
    color: var(--pink);
}
/*

.padding {
    padding-left: 40px;
}

.padding2 {
    padding-left: 80px;
}
*/


.contactContainer {
    width: 130px;
    background-color: var(--lightGray);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-left:1px solid #292933;


}

.img {
    width: 200px;
    height:200px;
    border-radius:50%;
    position: absolute;
    left: 5px;
    top:5px;


}




.imgContainer {
    position: relative;
    width:200px;
    height: 350px;
    top:150px

}

.linkContainer {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}



.type {
    width: 100%;
    margin: 0;

    animation: typing 8s steps(45), blink 0.5s step-end infinite alternate;
    white-space: pre;
    overflow: hidden;
    border-right: 1px solid;

}

.hidden {
    display: none;

}

.circle{
    width:210px;
    height:210px;
    border-radius:50%;
    background: linear-gradient(to right, var(--yellow), var(--pink));
    position: absolute;
    animation: rotate 2s linear infinite;
}

.circle:before {
    position: absolute;
    content: '';
    top: 0;
    left:0;
    height: calc(100%);
    width: calc(100% );
    border-radius: 50%;
    z-index: -1;
    opacity: 1;
    filter: blur(10px);
    background: linear-gradient(45deg,var(--yellow), var(--pink));
    background-size: 100%;
    animation: animate 20s linear infinite;
}


.svg {
    width: 30px;
    height: 30px;
    fill: #6e708a;
    transition: 0.1s linear;
    text-align: center;
}

.svg:hover {
    fill: #f8e9a0;
    transform: translateY(-3px);

}

.icon {
    background-color: #d205a2;
    width: 60px;
    height: 60px;
}

.iconContainer {


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 100;
    margin-top: 30px;


}

.link {
    text-decoration: none;
    color:   #6e708a;
    font-size: 30px;
    font-weight: 600;
    transition: 0.1s linear;

}

.link:hover {
    color: #ffeda3;
    transform: translateY(-3px);

}



@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes rotate {
    0%{
        transform:rotate(0deg);

    }
    50%{
        trasnform:rotate(180deg);
    }
    100%{
        transform:rotate(360deg);

    }
}





@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media (max-width: 500px) {
    .name {
        font-size: 30px;
    }


}


@media (max-width: 1060px) {
    /*
    .codeContainer {

        border-top-right-radius: 40px;
        border-bottom-right-radius: 50px;
    }

    .tabContainer {
        border-top-right-radius: 60px;

    }

    .ideaContainer {
        padding-top: 30px;
        padding-bottom: 30px;


    }

    .contactContainer {

        display: none;


    }
    */

    /*    .hidden {
            display: flex;
            justify-content: center;
        }*/


}

@media (max-width: 600px) {
    .code{
        font-size: 20px;
    }
    /* .codeContainer {

         width: 80%;
         font-size: 14px;
     }
 */
    /*  .imgContainer {
          height: 400px;
          width: 320px;

      }
  */

    /*    .linkContainer {

            height: auto;

        }*/


    /* .img {
         width: 80%;
     }*/

}

@media (max-width: 500px) {
    /*   .svg {
           width: 30px;
           height: 30px;
       }

       .linkContainer {
           gap: 5px;
       }

       .padding {
           padding-left: 20px;
       }

       .padding2 {
           padding-left: 40px;
       }

       .type {
           width: 80%;
       }

       .imgContainer {

           width: 250px;

       }

   */
}

@media (max-width: 420px) {
    /*
    .name {
        font-size: 23px;
    }

    .rowContainer {
        font-size: 12px;
    }

    .codeContainer {
        font-size: 12px;

    }

    .imgContainer {

        height: 380px;

    }
    */


}

.matrixContainer{

    min-height: 100vh;
}