@font-face {
  font-family: matrixFont;
  src: url(./matrixFont.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  margin: 0;

}

:root {
  --main-color: #1A1B26;
  --dark: #02030C;

  --gray: #2C2E3E;
  --lightGray: #3a3c56;
  --hoverGray: #484B60;
  --yellow: #efce7b;
  --pink: #EE15CB;


  --font: 'JetBrains Mono', monospace;

}

/* --fontHeader:'Bebas Neue', cursive;
 --fontCode:'Courier Prime', monospace;
 --fontDescription: 'Poppins', sans-serif;*/


.App {

  background-color: var(--main-color);
  font-family: var(--font);

}

.matrix {

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: 600px;
  display: flex;
  width: 80%;
  margin: 0 auto;

  justify-content: center;


}
